{% load static  %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MONKEYS</title>
        <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />


        <!--=====================================================
            CSS Stylesheets
        =====================================================-->
        <link rel='stylesheet' type='text/css' href="{% static 'bootstrap/css/bootstrap.min.css'%} "  >
        <link rel='stylesheet' type='text/css' href="{% static 'css/linea.css' %}" >
        <link rel='stylesheet' type='text/css' href="{% static 'css/ionicons.min.css'%}" >
        <link rel='stylesheet' type='text/css' href="{% static 'css/owl.carousel.css'%}" >
        <link rel='stylesheet' type='text/css' href="{% static 'css/magnific-popup.css'%}" >
        <link rel='stylesheet' type='text/css' href="{% static 'css/loginPageCss.css'%}" >

        <script type="text/javascript">
            function changToReg(){
		        $('form').animate({height: "toggle", opacity: "toggle"}, {duration: 0});
	        }
        </script>

    </head>
    <!--=====================================================
            if there is an error message we will get the register page
        =====================================================-->
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <body onload="changToReg()">
            {% endif %} 
        {% endfor %}
    {% else %}
        <body>
    {% endif %}

        <div class="login-page">
            <h1>WELCOME TO MONKEYS!</h1>
          <div class="form">
            <form class="register-form" method="post">
                {% csrf_token %}
                <input type="text" placeholder="full name" name="fname" required autocomplete="off" />
                <input type="text" placeholder="username" name="username" required autocomplete="off" />
                <input type="password" placeholder="password" name="password" required autocomplete="off" />
                <input type="password" placeholder="confirm password" name="conpass" required autocomplete="off" />
                <input type="submit" class="btn-custom" value="create" />
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <h3>{{ message }}</h3>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <p class="message dark">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form" method="post">
                {% csrf_token %}
                <input type="text" placeholder="username" name="loginusrn" required autocomplete="off"/>
                <input type="password" placeholder="password" name="loginpass" required autocomplete="off"/>
                <input type="submit" class="btn-custom" value="login" />
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <h3>{{ message }}</h3>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
          </div>
        </div>







        <!--=====================================================
			JavaScript Files
		=====================================================-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.shuffle.min.js'%}" ></script>
		<script src="{% static 'js/owl.carousel.min.js'%}" ></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js'%}" ></script>
		<script src="{% static 'js/validator.min.js'%}" ></script>
		<script src="{% static 'js/script.js'%}" ></script>


    </body>
</html>