<!--====================================================
 this page is templates page!
====================================================-->


<!--====================================================
 menu code as original:
====================================================-->

<!--=====================================================
    Menu Button
=====================================================-->
<a href='#' class='menu-btn' >
    <span class='lines' >
        <span class='l1' ></span>
        <span class='l2' ></span>
        <span class='l3' ></span>
    </span>
</a>


<!--=====================================================
    Menu
=====================================================-->
<div class='menu' >
    <div class='inner' >
        <ul class='menu-items' >

            <li>
                <a href='#' class='section-toggle' data-section='homepage' >
                    Home
                </a>
            </li>

            <li>
                <a href='#' class='section-toggle' data-section='about' >
                    About
                </a>
            </li>

            <li>
                <a href='#' class='section-toggle' data-section='resume' >
                    Resume
                </a>
            </li>

            <li>
                <a href='#' class='section-toggle' data-section='portfolio' >
                    Portfolio
                </a>
            </li>


            <li>
                <a href='#' class='section-toggle' data-section='contact' >
                    Contact
                </a>
            </li>
            <li>
                 <a href="{% url '' %}" class='section-toggle' >
                    LogOut
                </a>
            </li>


        </ul>
    </div>
</div>

<div class='animation-block' ></div>



<!--====================================================
 includes for js codes as original:
====================================================-->

<!--=====================================================
    JavaScript Files
=====================================================-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.shuffle.min.js'%}" ></script>
<script src="{% static 'js/owl.carousel.min.js'%}" ></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}" ></script>
<script src="{% static 'js/validator.min.js'%}" ></script>
<script src="{% static 'js/script.js'%}" ></script>



<!--=====================================================
    CSS Stylesheets
=====================================================-->
<link rel='stylesheet' type='text/css' href="{% static 'bootstrap/css/bootstrap.min.css'%} "  >
<link rel='stylesheet' type='text/css' href="{% static 'css/linea.css' %}" >
<link rel='stylesheet' type='text/css' href="{% static 'css/ionicons.min.css'%}" >
<link rel='stylesheet' type='text/css' href="{% static 'css/owl.carousel.css'%}" >
<link rel='stylesheet' type='text/css' href="{% static 'css/magnific-popup.css'%}" >
<link rel='stylesheet' type='text/css' href="{% static 'css/style.css'%}" >