/*=======================================================
	login page
=======================================================*/
.login-page {
  width: 800px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page > h1 {
	padding:0;
	text-align:center;
	margin:20px;
	color:#FFF;
	text-transform:uppercase;
	font-weight:900;
	letter-spacing:6px;
	font-size:20px;
	font-style: italic;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form > .register-form > .message a {
    color: #FFFFFF;
}
.form > .register-form > .dark a {
    color: #4caf50;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #303F9F; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #303f9f, #8DC26F);
  background: -moz-linear-gradient(right, #303F9F, #8DC26F);
  background: -o-linear-gradient(right, #303F9F, #8DC26F);
  background: linear-gradient(to left, #303F9F, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.btn-custom{
	color:#FFF;
	text-decoration:none;
}
input.btn-custom{

    background: #4caf50;
    color: #FFF;
	text-decoration:none;
}
.btn-custom{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
	text-decoration:none;
	text-align:center;
	font-weight:400;
	display:inline-block;
	*display:inline;
	*zoom:1;
	line-height:1em;
	position:relative;
	z-index:5;
	border:none;
}
.form .btn-custom:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form > .register-form h3{
    font-size: 14px;
    mso-generic-font-family: modern;
    color: rgb(255, 2, 0);
}
.form > .login-form h3{
    font-size: 14px;
    mso-generic-font-family: modern;
    color: rgb(255, 2, 0);
}